{% trans_default_domain "messages" %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        The Usual Dreamers
    </title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}?{{ "now"|date("dmY") }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="error" class="container-fluid">
    <section>
        <h1 class="permanent-marker">Error 404 {{ error.code }}</h1>
        <h3 class="permanent-marker italic">Have you dream about this page ?</h3>
        <div>
            <a href="{{ path('home_home_index') }}">
                Go back to Home page
            </a>
        </div>
    </section>
</div>

<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
