{% extends "::admin_base.html.twig" %}

{% set title = 'blog.post.list.title'|trans %}

{% block title %}{{ parent() }}{{ title }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('blog_admin_post_list') }}">{{ title }}</a></li>
    <li class="active">List</li>
{% endblock %}

{% block content %}
    <div>
        <a href="{{ path('blog_post_list') }}" title="{{ 'blog.post.list.publicView'|trans }}">
            {{ 'blog.post.list.publicView'|trans }}
        </a>
    </div>
    <section>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Publication
                    </th>
                    <th>
                        Creation
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                        <a href="{{ path('blog_admin_post_edit', {'slug': post.slug}) }}" title="{{ post.title }}">
                            {{ post.title }}
                        </a>
                    </td>
                    <td>
                        {{ post.category }}
                    </td>
                    <td>
                        {{ post.publication|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ post.created|date('d/m/Y') }}
                    </td>
                    <td>
                        <a href="{{ path('blog_admin_post_edit', {'slug': post.slug}) }}" title="{{ post.title }}">
                            {{ 'blog.post.details.edit'|trans }}
                        </a>
                        <a href="{{ path('blog_admin_post_details', {'slug': post.slug}) }}" title="{{ post.title }}">
                            {{ 'blog.post.details.preview'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
