{% extends "::admin_base.html.twig" %}

{% set title = 'blog.post.list.title'|trans %}

{% block title %}{{ parent() }}{{ title }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">{{ title }}</li>
{% endblock %}

{% block content %}
    <div class="text-right">
        <a href="{{ path('blog_admin_post_create') }}" title="{{ 'blog.post.list.addPost'|trans }}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {{ 'blog.post.list.addPost'|trans }}
        </a>
    </div>
    <section>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Publication
                    </th>
                    <th>
                        Creation
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>
                            <a href="{{ path('blog_admin_post_edit', {'slug': post.englishSlug}) }}"
                               title="{{ post.frenchTitle }}">
                                {{ post.englishTitle }}
                            </a>
                        </td>
                        <td>
                            {{ post.category }}
                        </td>
                        <td>
                            {{ post.publication|date('d/m/Y') }}
                        </td>
                        <td>
                            {{ post.created|date('d/m/Y') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
