{% extends "::layout/_base.html.twig" %}

{% block title %}Admin - {% endblock %}

{% block body %}
    <div id="admin" class="row fill">
        <nav class="col-sm-3 col-md-2 main-nav sidebar fill">
            <h1 class="text-center">
                The Usual Dreamers
            </h1>
            <aside>
                Some information
            </aside>
            <ul class="nav side-menu">
                <li>
                    <a href="#" title="{{ 'header.navigation.blog'|trans }}">
                        {{ 'header.navigation.blog'|trans }}
                    </a>
                </li>
                <li>
                    <a href="#" title="{{ 'header.navigation.blog'|trans }}">
                        {{ 'header.navigation.equipments'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('blog_post_list') }}" title="{{ 'header.navigation.publicSite'|trans }}">
                        {{ 'header.navigation.publicSite'|trans }}
                    </a>
                </li>
            </ul>
        </nav>

        <section class="col-sm-9 col-md-10 main fill">
            <div>
                <ol class="breadcrumb">
                    {% block breadcrumbs %}
                        <li><a href="#">Admin</a></li>
                    {% endblock %}
                </ol>
            </div>
            <aside>
                {% for type, flash_messages in app.session.flashBag.all %}
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endfor %}

            </aside>

            <main>
                {% block content %}{% endblock %}
            </main>
        </section>
    </div>
{% endblock %}