{% extends "::layout/_base.html.twig" %}

{% block body %}
    <div id="public" class="fill">
        <header class="row">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="col-md-10 col-md-offset-1">
                    <div class="clearfix">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#main-nav" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a href="{{ path('home_home_index') }}" title="" class="permanent-marker navbar-brand">
                                The Usual Dreamers
                            </a>
                        </div>

                        <div class="collapse navbar-collapse" id="main-nav">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{{ path('blog_post_list') }}" title="{{ 'header.navigation.blog' | trans }}">
                                        {{ 'header.navigation.blog' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="">
                                        {{ 'header.navigation.inspiration' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="">
                                        {{ 'header.navigation.equipments' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('about_about_index') }}" title="{{ 'header.navigation.about' | trans }}">
                                        {{ 'header.navigation.about' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('contact_contact_index') }}" title="{{ 'header.navigation.contact' | trans }}">
                                        {{ 'header.navigation.contact' | trans }}
                                    </a>
                                </li>
                                <li class="hidden-sm hidden-xs divider-vertical"></li>
                                <li class="hidden-sm divider-horizontal"></li>
                                <li>
                                    {% if app.request.get('_locale') == 'en' %}
                                        <a href="{{ path('home_home_index', {'_locale': 'fr'}) }}"
                                           title="Basculer le site en français">
                                            FR
                                        </a>
                                    {% elseif app.request.get('_locale') == 'fr' %}
                                        <a href="{{ path('home_home_index', {'_locale': 'en'}) }}"
                                           title="Switch the site to english">
                                            EN
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="row">
            <div class="col-md-10 col-sm-12 col-md-offset-1">
                <aside>
                    {% for type, flash_messages in app.session.flashBag.all %}
                        {% for flash_message in flash_messages %}
                            <div class="flash-{{ type }}">
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                </aside>

                <main>
                    {% block content %}{% endblock %}
                </main>

                <footer>
                    FOOTER
                </footer>
            </div>
        </div>
    </div>
{% endblock %}