{% extends "::layout/_base.html.twig" %}

{% block body %}
    <header>
        <h1>
            The Usual Dreamers
        </h1>
        <ul>
            <li>
                {{ 'header.navigation.blog' | trans }}
            </li>
            <li>
                {{ 'header.navigation.equipments' | trans }}
            </li>
            <li>
                {{ 'header.navigation.about' | trans }}
            </li>
        </ul>
    </header>
    <aside>
        {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
                <div class="flash-{{ type }}">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endfor %}

    </aside>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        FOOTER
    </footer>
{% endblock %}