{% set created = comment.localizedCreatedDate(locale) %}

<div id="comment-{{ comment.id }}">
    <div class="media-left">
        <a href="#">
            <img class="media-object avatar" src="{{ asset('images/default-avatar-ponsy-deer.png') }}" alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading lead">
            {{ comment.authorName }}{% if comment.authorWebsite %}&nbsp;({{ comment.authorWebsite }}){% endif %}
        </h4>
        <span>{{ created }}</span>
        <p class="content lead">
            {{ comment.content }}
        </p>

        <div>
            {% for reply in comment.children %}
                <div class="media reply">
                    {% include "BlogBundle:Comment:_comment-for-list.html.twig" with {'comment' : reply, 'locale': locale} %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>