{% trans_default_domain "messages" %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        The Usual Dreamers
    </title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="coming-soon" class="container-fluid">
    <section class="coming-soon">
        <h1 class="permanent-marker">The Usual Dreamers</h1>
        <h3 class="permanent-marker italic">A very expected journey. Coming soon</h3>
    </section>

    <section class="social-network">
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/theusualdreamers" target="_blank" title="Follow us on Facebook">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/usualdreamers" target="_blank" title="Follow us on Twitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/theusualdreamers" target="_blank" title="Follow us on Instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCeA45EB73qXYTX-37dP7Asw" target="_blank" title="Follow us on Youtube">
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </section>

</div>
<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
