{% extends "::public_base.html.twig" %}

{% set locale = locale is defined ? locale : app.request.get('_locale') %}
{% set title = post.localizedTitle(locale) %}
{% set content = post.localizedContent(locale) %}
{% set publicationDate = post.localizedPublicationDate(locale) %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 text-left">
            <a href="{{ path('blog_post_list') }}" title="{{ 'blog.post.details.backToList'|trans }}">
                {{ 'blog.post.details.backToList'|trans }}
            </a>
        </div>

        {% if mode is defined and mode == 'admin' %}
            <div class="col-md-6 text-right">
                <a href="{{ path('blog_admin_post_edit', {'slug': post.englishSlug}) }}" title="{{ 'blog.post.details.backToEdit'|trans }}">
                    {{ 'blog.post.details.backToEdit'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
    <article>
        <h2>{{ title }}</h2>
        <div>
            {{ content|raw }}
        </div>
        <span>{{ publicationDate }}</span>

        <section>
            AUTEUR
        </section>
    </article>

    <aside>
        ARTICLE SIMILAIRES
    </aside>

    {% if comments is defined %}
        <section>
            COMMENTS
            {% for comment in comments %}
                <article class="row">
                    <div class="col-md-12">
                        <h3>{{ comment.authorName }}</h3>
                        <h4>{{ comment.authorWebsite }}</h4>
                        <p>
                            {{ comment.content }}
                        </p>
                        {% for reply in comment.children %}
                            <div class="row">
                                <div class="col-lg-offset-1">
                                    <h3>{{ reply.authorName }}</h3>
                                    <h4>{{ reply.authorWebsite }}</h4>
                                    <p>
                                        {{ reply.content }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </article>
            {% else %}
                {{ 'blog.post.details.noComment'|trans }}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}