{% extends "::public_base.html.twig" %}

{% set locale = locale is defined ? locale : app.request.get('_locale') %}
{% set title = post.localizedTitle(locale) %}
{% set content = post.localizedContent(locale) %}
{% set publicationDate = post.localizedPublicationDate(locale) %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 text-left">
            <a href="{{ path('blog_post_list') }}" title="{{ 'blog.post.details.backToList'|trans }}">
                {{ 'blog.post.details.backToList'|trans }}
            </a>
        </div>

        {% if mode is defined and mode == 'admin' %}
            <div class="col-md-6 text-right">
                <a href="{{ path('blog_admin_post_edit', {'slug': post.englishSlug}) }}"
                   title="{{ 'blog.post.details.backToEdit'|trans }}">
                    {{ 'blog.post.details.backToEdit'|trans }}
                </a>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <article>
                <h2>{{ title }}</h2>

                <div class="margin-top">
                    {{ content|raw }}
                </div>

                <p>
                    <span class="label label-primary">{{ ('blog.post.enum.category.' ~ post.category)|trans }}</span>
                    <span>{{ publicationDate }}</span>
                </p>
            </article>

            {% if relatedPosts is defined %}
                <aside class="related-posts">
                    <h3>
                        {{ 'blog.post.details.relatedPosts'|trans }}
                    </h3>

                    <div class="row">
                        {% for relatedPost in relatedPosts %}
                            <div class="col-sm-6 col-md-4 post">
                                {% include "BlogBundle:Post:_post-for-list.html.twig" with {'post' : relatedPost} %}
                            </div>
                        {% endfor %}
                    </div>
                </aside>
            {% endif %}

            {% if comments is defined %}
                <div class="comments">
                    <h3>
                        {{ 'blog.post.details.comments'|trans }}
                    </h3>
                    <ul class="media-list">
                    {% for comment in comments %}
                        <li class="media comment">
                            {% include "BlogBundle:Post:_comment-for-list.html.twig" with {'comment' : comment, 'locale': locale} %}
                        </li>
                    </ul>
                    {% else %}
                        {{ 'blog.post.details.noComment'|trans }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}